.best
{
  background-size: cover;
  width:100%;
  height:100vh;
  background-image: url("../img/we_are_the_best.png");
  background-repeat: no-repeat;
  min-height: rem(800px);
  &__img-hand
  {
    width:rem(73px);
    height: rem(97px);
  }
  &__img-meat
  {
    width: rem(97px);
    height: rem(97px);
  }
  &__img-natural
  {
    width: rem(88px);
    height: rem(97px);
  }
  &__text
  {

  }
  &__title
  {
    font-family: Gagalin-Regular;
    font-size: rem(72px);
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-bottom:rem(30px);
  }
  &__item
  {
    width:90%;
    list-style-type: none;
    @include phones
    {
      display: flex;
      flex-direction: row;
    }
  }
  &__items
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include phones
    {
      flex-direction: column;
    }
  }
  &__caption
  {
    font-family: Lifehack Medium;
    font-size: rem(24px);
    font-weight: 500;
    text-align: center;
    margin-top: rem(33px);
  }
  &__icon
  {
    display: flex;
    justify-content: center;

  }
  &__description
  {
    padding-top: rem(20px);
    text-align: center;
    opacity: 0.8;
    color: #2f3234;
    font-family: Ubuntu-Regular;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24.02px);
  }
  .container
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
