.best
{
  background-size: 100%;
  width:100%;
  min-height: 650px;
  height:100vh;
  background-image: url("../img/we_are_the_best.png");
  background-repeat: no-repeat;
  &__img-hand
  {
    width:73px;
  }
  &__img-meat
  {
    width: 97px;
  }
  &__img-natural
  {
    width: 88px;
  }
  &__title
  {
    font-family: Gagalin-Regular;
    font-size: 72px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top:120px;
    display: flex;
    justify-content: center;
  }
  &__item
  {
    width:281px;
    list-style-type: none;
  }
  &__items
  {
    padding-top:30px;
    padding-left:80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__caption
  {
    font-family: Lifehack Medium;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
      padding-top: 33px;
  }
  &__icon
  {
    display: flex;
    justify-content: center;

  }
  &__description
  {
    padding-top: 20px;
    text-align: center;
    opacity: 0.8;
    color: #2f3234;
    font-family: Ubuntu-Regular;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.02px;
  }
}
