.clear
{
  display: inline-block;
  margin-left: rem(20px);
  &__link
  {
    text-decoration: none;
    font-family: Ubuntu-Regular;
    font-size: rem(14px);
    font-weight: 300;
    color:white;
    border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  }
}
