.hero
{
  width:100%;
  min-height:650px;
  height:100vh;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  .container
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
