.hero
{
  width:100%;
  min-height:rem(650px);
  height:100vh;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: rem(800px);
  .container
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
