.main
{
  display:flex;
  flex-direction: row;
  @include tablets
  {
    flex-direction: column;
  }
}

.burger
{
  @include tablets
  {
    display: flex;
    justify-content: center;
    padding:0;
  }
  padding-left:97px;
  img
  {
    width:rem(451px);
    @include tablets
    {
      width: rem(333px);
    }
  }
}
