.navigation
{
  @include tablets
  {
    display: none;
  }
  margin-left: rem(35px);
  display: flex;
  align-items: center;
  &__menu
  {
    display:flex;
    flex-direction:row;
  }
  &__item
  {
    &:nth-child(1)
    {
      list-style-type: none;
    }
    margin-left:rem(25px);
    color:white;
    &:hover a
    {
      text-decoration: underline;
    }
    a
    {
      color:white;
      font-family: Ubuntu-Regular;
      font-size: rem(13px);
      font-weight: 500;
      line-height: rem(30px);
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
