.order
{
  padding-top:25px;
  &:hover a
  {
    background-color: #c1401e;
  }
  a
  {

    text-decoration: none;
    color:white;

    padding: 10px 15px;
    border-radius: 5px;
    margin-left:20px;
    font-size: 13px;
    font-weight: 500;
    font-family: Ubuntu-Regular;
    text-transform: uppercase;
    background-color: #e45028;
  }



}
