.active
{
  @include tablets
  {
    display: none;
  }
  position: relative;
  padding-bottom: 10px;
  padding-left:7px;
  display: flex;
  justify-content: center;
  align-items: center;
  &::after
  {
    content:"";
    width:rem(16px);
    height:rem(16px);
    margin-right:rem(40px);
    position:absolute;
    border: 1px solid #ffffff;
    border-radius: 50%;
  }
  list-style-type: none;
}
.non-active
{
  @include tablets
  {
    display: none;
  }
  padding-bottom: rem(10px);
  padding-left:rem(7px);
  list-style-type: none;
}
.points
{
  position:fixed;
  right: 5%;
  top:5%;
  &__item
  {
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background-color: white;
  }
}
