.active
{
  position: relative;
  padding-bottom: 10px;
  padding-left:7px;
  display: flex;
  justify-content: center;
  align-items: center;
  &::after
  {
    content:"";
    width:16px;
    height:16px;
    margin-right:40px;
    position:absolute;
    border: 1px solid #ffffff;
    border-radius: 50%;
  }
  list-style-type: none;
}
.non-active
{
  padding-bottom: 10px;
  padding-left:7px;
  list-style-type: none;
}
.points
{
  position:fixed;
  right: 5%;
  top:5%;
  &__item
  {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
  }
}
