.social
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  @include phones
  {
    justify-content: center;
  }
  li
  {
    list-style-type: none;
    margin-left: rem(19px);
  }
}
