.team
{
  position: relative;
  background-size: cover;
  width:100%;
  min-height: rem(650px);
  height:100vh;
  background-image: url("../img/team_background.png");
  background-repeat: no-repeat;

  &__accordeon
  {
    @include tablets
    {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    position: absolute;
    top: 0;
    left: 50%;
    width:50%;
    background-color: #2f3234;
    opacity: 0.93;
    min-height: rem(650px);
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__name
  {
    text-transform: uppercase;
    font-family: Gagalin-Regular;
    font-size: rem(72px);
    font-weight: 400;
    color: #f9b43b;
    margin-bottom:rem(56px);
  }
  &__member
  {
    &:nth-child(1)
    {
      margin-top:0;
    }
    @include tablets
    {
      display: flex;
      flex-direction: column;
    }
    width: rem(347px);
    margin-top: rem(35px);
    .team__description
    {
      height: 0;
      overflow: hidden;
    }
    &--active
    {
      padding-top: rem(35px);
      width: rem(347px);
      display: flex;
      flex-direction: column;
      .team__fullname
      {
        color:#f9b43b;
        &::before
        {
          content: '';
          position: absolute;
          left:rem(-35px);
          @include tablets
          {
            left: 30%;
          }
          border: 7px solid transparent;
          border-bottom-color: #f9b43b;;
          border-top: 0;
        }
      }

    }
  }
  &__right
  {
    margin-left:rem(21px);
  }
  &__triangle
  {
    display: flex;
    align-items: center;
  }
  &__img_triangle
  {
    width: rem(9px);
  }
  &__fullname
  {
    @include tablets
    {
      display: flex;
      justify-content: center;
    }
    position: relative;
    color: #ffffff;
    font-family: Gagalin-Regular;
    font-size: rem(14px);
    font-weight: 400;
    display: flex;
    align-items: center;
    &::before
    {
      content: '';
      position: absolute;
      left:rem(-35px);
      @include tablets
      {
        left: 30%;
      }
      border: 7px solid transparent;
      border-top-color: #f9b43b;;
      border-bottom: 0;
    }
  }
  li
  {
    list-style-type: none;
  }
  &__avatar
  {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width:100px;
    height:100px;
    flex-shrink: 0;
    @include tablets
    {
      display: flex;
      justify-content: center;
    }
  }
  &__img_avatar
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
  }



  &__description
  {
    margin-top: rem(17px);
    display: flex;
    flex-direction: row;
    @include tablets
    {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .team__job , .team__remark
    {
      @include tablets
      {
        text-align: center;
      }
    }

  }
  &__right
  {
    display: flex;
    flex-direction: column;
  }
  &__remark
  {
    width: rem(208px);
    padding-top:rem(20px);
  }
  &__job
  {
    @include tablets
    {
      padding-top:rem(10px);
    }
  }
  &__job, &__remark
  {

    color: #ffffff;
    font-family: Ubuntu-Regular;
    font-size: rem(14px);
    width:100%;
  }
  &__job
  {
    font-weight: 700;
  }
  &__remark
  {
    font-weight:300;
  }
  &__members
  {
    margin-left:rem(20px);
  }
}
