@font-face {

  font-family: "Ubuntu-Regular";
  src: url("fonts/Ubuntu-Regular.ttf");

}
@font-face {

  font-family: "Lifehack Medium";
  src: url("fonts/Lifehack Medium.otf");

}
@font-face {

  font-family: "Gagalin-Regular";
  src: url("fonts/Gagalin-Regular.otf");

}
